{
  fileTypes: [
    'usp',
    'usl'
  ]
  name: 'Simpl+'
  patterns: [
    { include: '#comments' }
    { include: '#numbers' }
    { include: '#strings' }
    { include: '#keywords' }
    { include: '#function_call' }
    { include: '#constants' }
  ]
  repository:
    function_call:
      captures:
        1:
          name: 'support.function.any-method.splus'
      match: '(\\w*)\\('
      name: 'meta.function-call.splus'
    comments:
      patterns: [
        {
          captures:
            1:
              name: 'meta.toc-list.banner.block.splus'
          match: '^/\\* =(\\s*.*?)\\s*= \\*/$\\n?'
          name: 'comment.block.splus'
        }
        {
          begin: '/\\*'
          beginCaptures:
            0:
              name: 'punctuation.definition.comment.begin.splus'
          end: '\\*/'
          endCaptures:
            0:
              name: 'punctuation.definition.comment.end.splus'
          name: 'comment.block.splus'
        }
        {
          match: '\\*/.*\\n'
          name: 'invalid.illegal.stray-comment-end.splus'
        }
        {
          captures:
            1:
              name: 'meta.toc-list.banner.line.splus'
          match: '^// =(\\s*.*?)\\s*=\\s*$\\n?'
          name: 'comment.line.banner.c++'
        }
        {
          begin: '(^[ \\t]+)?(?=//)'
          beginCaptures:
            1:
              name: 'punctuation.whitespace.comment.leading.c++'
          end: '(?!\\G)'
          patterns: [
            {
              begin: '//'
              beginCaptures:
                0:
                  name: 'punctuation.definition.comment.c++'
              end: '\\n'
              name: 'comment.line.double-slash.c++'
              patterns: [
                {
                  include: '#line_continuation_character'
                }
              ]
            }
          ]
        }
      ]
    numbers:
      patterns: [
        {
          match: '\\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\\b'
          name: 'constant.numeric.splus'
        }
      ]
    strings:
      patterns: [
        {
          begin: '"'
          beginCaptures:
            0:
              name: 'punctuation.definition.string.begin.splus'
          end: '"'
          endCaptures:
            0:
              name: 'punctuation.definition.string.end.splus'
          name: 'string.quoted.double.splus'
          patterns: [
            {
              include: '#string_escaped_char'
            }
            {
              include: '#string_placeholder'
            }
            {
              include: '#line_continuation_character'
            }
          ]
        }
        {
          begin: '\''
          beginCaptures:
            0:
              name: 'punctuation.definition.string.begin.splus'
          end: '\''
          endCaptures:
            0:
              name: 'punctuation.definition.string.end.splus'
          name: 'string.quoted.single.splus'
          patterns: [
            {
              include: '#string_escaped_char'
            }
            {
              include: '#line_continuation_character'
            }
          ]
        }
      ]
    string_escaped_char:
      patterns: [
        {
          match: '\\\\(\\\\|[abefnprtv\'"?]|[0-3]\\d{,2}|[4-7]\\d?|x[a-fA-F0-9]{,2}|u[a-fA-F0-9]{,4}|U[a-fA-F0-9]{,8})'
          name: 'constant.character.escape.splus'
        }
        {
          match: '\\\\.'
          name: 'invalid.illegal.unknown-escape.splus'
        }
      ]
    string_placeholder:
      patterns: [
        {
          match: '(%l{0,1}[duxX])|(%[sduxXc%])|(%[0-9]+[sduxXc])'
          name: 'constant.other.placeholder.splus'
        }
        {
          match: '%'
          name: 'invalid.illegal.placeholder.splus'
        }
      ]
    constants:
      patterns: [
        {
          match: '\\b[A-Z_]+[A-Z0-9_]*\\b'
          name: 'constant.language.splus'
        }
      ]
    keywords:
      patterns: [
        {
          match: '(^|\\s)(?i:(\
            _#ENDIF|\
            _#HELP_END|\
            _SKIP_|\
            #ANALOG_INPUT_JOIN|\
            #ANALOG_OUTPUT_JOIN|\
            #ANALOG_SERIAL_EXPAND|\
            #BEGIN_PARAMETER_PROPERTIES|\
            #BEGIN_PROP_FULL_DESCRIPTION|\
            #BEGIN_PROP_NOTES|\
            #CATEGORY|\
            #CRESTRON_LIBRARY|\
            #CRESTRON_SIMPLSHARP_LIBRARY|\
            #DEFAULT_NONVOLATILE|\
            #DEFAULT_VOLATILE|\
            #DEFINE_CONSTANT|\
            #DIGITAL_EXPAND|\
            #DIGITAL_INPUT_JOIN|\
            #DIGITAL_OUTPUT_JOIN|\
            #ENABLE_DYNAMIC|\
            #ENABLE_STACK_CHECKING|\
            #ENABLE_TRACE|\
            #ENCODING_ASCII|\
            #ENCODING_INHERIT_FROM_PARENT|\
            #ENCODING_INHERIT_FROM_PROGRAM|\
            #ENCODING_UTF16|\
            #END_PARAMETER_PROPERTIES|\
            #END_PROP_FULL_DESCRIPTION|\
            #END_PROP_NOTES|\
            #ENDIF|\
            #HELP_BEGIN|\
            #HELP_END|\
            #HELP_PDF_FILE|\
            #HELP|\
            #HINT|\
            #IF_DEFINED|\
            #IF_NOT_DEFINED|\
            #IF_SERIES2|\
            #IF_SERIES3|\
            #INCLUDEPATH|\
            #LARGE_STACK|\
            #MAX_INTERNAL_BUFFER_SIZE|\
            #OUTPUT_SHIFT|\
            #PRINT_TO_TRACE|\
            #STRING_INPUT_JOIN|\
            #STRING_OUTPUT_JOIN|\
            #SYMBOL_NAME|\
            #USER_LIBRARY|\
            #USER_SIMPLSHARP_LIBRARY|\
            ABS|\
            ANALOG_INPUT|\
            ANALOG_OUTPUT|\
            ASCII|\
            ATOI|\
            ATOL|\
            BIT|\
            BREAK|\
            BUFFER_INPUT|\
            BYREF|\
            BYTE|\
            BYVAL|\
            CALLBACK|\
            CANCELALLWAIT|\
            CANCELWAIT|\
            CASE|\
            CATCH|\
            CEVENT|\
            CHANGE|\
            CHECKFORDISK|\
            CHECKFORNVRAMDISK|\
            CHR|\
            CLEARBUFFER|\
            CMUTEX|\
            COMPARERAMPSBYATRIBUTE|\
            COMPARERAMPSBYLD|\
            COMPARESTRINGS|\
            COMPARESTRINGSNOCASE|\
            CONTINUE|\
            CREATERAMP|\
            CSWITCH|\
            DATE|\
            DAY|\
            DEFAULT|\
            DELAY|\
            DIGITAL_INPUT|\
            DIGITAL_OUTPUT|\
            DYNAMIC|\
            ELSE|\
            ENDFILEOPERATIONS|\
            EVENT|\
            FILEBOF|\
            FILECLOSE|\
            FILEDATE|\
            FILEDAY|\
            FILEDELETE|\
            FILEDELETESHARED|\
            FILEEOF|\
            FILEGETDATENUM|\
            FILEGETDAYOFWEEKNUM|\
            FILEGETHOURNUM|\
            FILEGETMINUTESNUM|\
            FILEGETMONTHNUM|\
            FILEGETSECONDSNUM|\
            FILEGETYEARNUM|\
            FILELENGTH|\
            FILEMONTH|\
            FILEOPEN|\
            FILEOPENSHARED|\
            FILEREAD|\
            FILESEEK|\
            FILETIME|\
            FILEWRITE|\
            FIND|\
            FINDCLOSE|\
            FINDFIRST|\
            FINDFIRSTSHARED|\
            FINDNEXT|\
            FINDNOCASE|\
            FOR|\
            FUNCTION|\
            GATHER|\
            GATHERBYLENGTH|\
            GENERATEUSERERROR|\
            GENERATEUSERNOTICE|\
            GENERATEUSERWARNING|\
            GETC|\
            GETCIP|\
            GETCRESNET|\
            GETCURRENTDIRECTORY|\
            GETDATENUM|\
            GETDAYOFWEEKNUM|\
            GETDST|\
            GETENCODING|\
            GETEXCEPTIONCODE|\
            GETEXCEPTIONMESSAGE|\
            GETGMTOFFSET|\
            GETHOURNUM|\
            GETHSECONDS|\
            GETLASTMODIFIEDARRAYINDEX|\
            GETMINUTESNUM|\
            GETMODELNUMBER|\
            GETMONTHNUM|\
            GETNUMARRAYCOLS|\
            GETNUMSTRUCTUREARRAYCOLS|\
            GETNURNARRAYROWS|\
            GETPROGRAMNUMBER|\
            GETRAMPINFO|\
            GETSECONDSNUM|\
            GETSERIES|\
            GETSLOT|\
            GETSYMBOLLNSTANCENAME|\
            GETSYMBOLREFERENCENAME|\
            GETTICKS|\
            GETYEARNUM|\
            HEXTOI|\
            HEXTOL|\
            HEXTOSI|\
            HEXTOSL|\
            HIGH|\
            HIGHWORD|\
            IF|\
            INHERIT|\
            INITIALIZERAMPINFO|\
            INITIALIZERAMPINFOARRAY|\
            INTEGER_FUNCTION|\
            INTEGER_FUNCTION|\
            INTEGER_PARAMETER|\
            INTEGER|\
            ISDIRECTORY|\
            ISHIDDEN|\
            ISNULL|\
            ISRAMPING|\
            ISREADONLY|\
            ISSIGNALDEFINED|\
            ISSYSTEM|\
            ISVOLUME|\
            ITOA|\
            ITOHEX|\
            LEFT|\
            LEN|\
            LONG_INTEGER_PARAMETER|\
            LONG_INTEGER|\
            LOW|\
            LOWER_BOUND|\
            LOWER|\
            LOWERCHAR|\
            LOWWORD|\
            LTOA|\
            LTOHEX|\
            MAKEDIRECTORY|\
            MAKEDIRECTORYSHARED|\
            MAKEPROGRAMFILENAME|\
            MAKESTRING|\
            MAX|\
            MID|\
            MIN|\
            MONTH|\
            MULDIV|\
            NONVOLATILE|\
            OFF|\
            ON|\
            PARAMETER_PROPERTIES|\
            PAUSEALLWAIT|\
            PAUSEWAIT|\
            PRINT|\
            PROCESSLOGIC|\
            PROPBOUNDS|\
            PROPDEFAULTUNIT|\
            PROPDEFAULTVALUE|\
            PROPLIST|\
            PROPSHORTDESCRIPTION|\
            PROPVALIDUNITS|\
            PULSE|\
            PUSH|\
            RANDOM|\
            READLNTEGER|\
            READLNTEGERARRAY|\
            READLONGLNTEGER|\
            READLONGLNTEGERARRAY|\
            READSIGNEDINTEGERARRAY|\
            READSIGNEDLNTEGER|\
            READSIGNEDLONGINTEGER|\
            READSIGNEDLONGINTEGERARRAY|\
            READSTRING|\
            READSTRINGARRAY|\
            READSTRUCTURE|\
            RELEASE|\
            REMOVE|\
            REMOVEBYLENGTH|\
            REMOVEDIRECTORY|\
            REMOVEDIRECTORYSHARED|\
            RESIZEARRAY|\
            RESIZESTRING|\
            RESIZESTRUCTUREARRAY|\
            RESUMEALLWAIT|\
            RESUMEWAIT|\
            RETIMEWAIT|\
            RETURN|\
            REVERSEFIND|\
            REVERSEFINDNOCASE|\
            RIGHT|\
            RND|\
            ROTATELEFT|\
            ROTATELEFTLONG|\
            ROTATERIGHT|\
            ROTATERIGHTLONG|\
            SEED|\
            SENDCRESNETPACKET|\
            SENDMAIL|\
            SENDMAILADVANCE|\
            SENDMAILWITHATTACHMENTS|\
            SENDPACKETTOCPU|\
            SETARRAY|\
            SETBYTE|\
            SETCIP|\
            SETCLOCK|\
            SETCRESNET|\
            SETCURRENTDIRECTORY|\
            SETDATE|\
            SETENCODING|\
            SETGMTOFFSET|\
            SETSLOT|\
            SETSTRING|\
            SIGNED_INTEGER_PARAMETER|\
            SIGNED_INTEGER|\
            SIGNED_LONG_INTEGER_PARAMETER|\
            SIGNED_LONG_INTEGER|\
            SMAX|\
            SMIN|\
            SOCKETCONNECT|\
            SOCKETCONNECTCLIENT|\
            SOCKETDISCONNECT|\
            SOCKETDISCONNECTCLIENT|\
            SOCKETGETADDRESSASREQUESTED|\
            SOCKETGETPORTNUMBER|\
            SOCKETGETREMOTEIPADDRESS|\
            SOCKETGETSENDERLPADDRESS|\
            SOCKETGETSTATUS|\
            SOCKETISMULTICAST|\
            SOCKETLSBROADCAST|\
            SOCKETRECEIVE|\
            SOCKETSEND|\
            SOCKETSERVERSTARTLISTEN|\
            SOCKETSERVERSTOPLISTEN|\
            SOCKETSTATUS|\
            SOCKETUDP_DISABLE|\
            SOCKETUDP_ENABLE|\
            STARTFILEOPERATIONS|\
            STOPRAMP|\
            STRING_FUNCTION|\
            STRING_FUNCTION|\
            STRING_INPUT|\
            STRING_OUTPUT|\
            STRING_PARAMETER|\
            STRING|\
            STRUCTURE|\
            SWITCH|\
            TCP_CLIENT|\
            TCP_SERVER|\
            TERMINATEEVENT|\
            THREADSAFE|\
            TIME|\
            TO|\
            TOASCII|\
            TOUTF16|\
            TRACE|\
            TRY|\
            UDP_SOCKET|\
            UNITCHARACTER|\
            UNITDECIMAL|\
            UNITHEX|\
            UNITPERCENT|\
            UNITSTRING|\
            UNITTICKS|\
            UNITTIME|\
            UPPER_BOUND|\
            UPPER|\
            UPPERCHAR|\
            UTF16|\
            VOLATILE|\
            WAIT|\
            WAITFORINITIALIZATIONCOMPLETE|\
            WAITFORNEWDISK|\
            WHILE|\
            WRITEINTEGER|\
            WRITELNTEGERARRAY|\
            WRITELONGINTEGER|\
            WRITELONGINTEGERARRAY|\
            WRITESIGNEDINTEGER|\
            WRITESIGNEDINTEGERARRAY|\
            WRITESIGNEDLONGINTEGER|\
            WRITESIGNEDLONGINTEGERARRAY|\
            WRITESTRING|\
            WRITESTRINGARRAY|\
            WRITESTRUCTURE\
          ))\\b'
          name: 'keyword.control.splus'
        }
      ]
  scopeName: "source.splus"
}
